<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diplom.Properties.Settings.SecurityConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Security;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="logPath" value="log.txt"/>
	</appSettings>
</configuration>